In [7]:
l=[2,3,6]
s=1
for i in l :
    s=s*i
print (s)

36

In [34]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [35]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 400}

In [38]:
number = int(input(" "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
list =[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(list, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]